services:
  app:
    build: .
    container_name: unimart-backend
    restart: always
    env_file:
      - .env.local
    ports:
      - '5055:5055'
    command: ['yarn', 'start:prod']

  redis:
    image: redis:7.2-alpine
    container_name: redis-server
    restart: always
    ports:
      - 6379:6379
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data

volumes:
  redis_data:
